.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: none;
}

.form-contain{
  background-color: rgb(216, 244, 253);
  width: 70vw;
  height: 100vh;
  margin-left: 0px;
}


.list-contain{
  background-color: rgb(154, 215, 253);
  width: 30vw;
  height: 100vh;
}

.input-contain{
  margin-left: 50%;
  margin-top: 3rem;
}

input{
  border: none;

}

.type-field{
  height: 1.5rem;
  width: 20vw;
  margin-top: 1rem;
  font-size: 22px;
}

.Button{
  color: grey;
  height: 5vh;
  background-color: lightsteelblue;
  font-size: 20px ;
  margin-top: 1rem;
  border-radius: 2px;
}

.list-card{
  border: 1px solid grey;
  border-radius: 10px;
  margin: 40px 40px;
  background-color: rgb(43, 169, 248);
  padding-left: 10px;
  align-items: center;
  shape-outside: border-box;
  
}